<p id="notice"><%= notice %></p>

<h1>Listing Request Applications</h1>

<table class="table">
  <thead>
    <tr>
      <th>Management no</th>
      <th>Emargency</th>
      <th>Filename</th>
      <th>Request date</th>
      <th>Preferred date</th>
      <th>Close</th>

        <td>
         <% @flow_orders.each do |flow_order| %>
              <%= flow_order.dept.try(:name).presence || "プロジェクト" %>
         <% end %>

        </td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_applications.each do |request_application| %>
      <tr>
        <td><%= request_application.management_no %></td>
        <td><%= request_application.emargency %></td>
        <td><%= request_application.filename %></td>
        <td><%= request_application.request_date %></td>
        <td><%= request_application.preferred_date %></td>
        <td><%= request_application.close %></td>
        <td></td>
        <td><%= link_to 'Show', request_application %></td>
        <td><%= link_to 'Edit', edit_request_application_path(request_application) %></td>
        <td><%= link_to 'Destroy', request_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request application', new_request_application_path %>
