<p id="notice"><%= notice %></p>

<h1>Listing Request Applications</h1>

<table class="table">
  <thead>
    <tr>
      <th>Management no</th>
      <th>Project</th>
      <th>E!</th>
      <th>Filename</th>
      <th>Request date</th>
      <th>Preferred date</th>
      <th>Close</th>
      <th>|</th>
         <% @flow_orders.each do |flow_order| %>
        <th>
          <%= flow_order.dept.try(:name).presence || "プロジェクト" %>
        </th>
         <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @request_applications.each do |request_application| %>
      <tr>
        <td><%= request_application.management_no %></td>
        <td><%= request_application.project.try(:name) %></td>
        <td><%= "緊急" if request_application.emargency %></td>
        <td><%= request_application.filename %></td>
        <td><%= request_application.request_date %></td>
        <td><%= request_application.preferred_date %></td>
        <td><%= "済" if request_application.close %></td>
        <td>|</td>
        <% request_application.flows.order(:order).each do |flow| %>
        <td>
          <%= flow.progress.try(:in_date) || (link_to 'IN', regist_progress_path((request_application))) %> 
          <br>
          <%= flow.progress.try(:out_date) || (link_to 'OUT', regist_progress_path((request_application))) %> 
        </td>
         <% end %>
         <% (@flow_orders.count - request_application.flows.count).times do %>
          <td> 
          </td>
         <% end %>
        <td><%= link_to 'Show', request_application %>
        <%= link_to 'Edit', edit_request_application_path(request_application) %>
        <%= link_to 'Destroy', request_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request application', new_request_application_path %>
