<p id="notice"><%= notice %></p>

<h1>Listing Request Applications</h1>

<div class="well">

  <%= search_form_for(@q, method: :get) do |f| %>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <%= f.label :management_no %>
          <%= f.text_field :management_no_cont, class: "form-control input-sm", placeholder: "部分一致" %>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="form-group">
          <%= f.label :model_id %>
          <%= f.collection_select :model_id_eq, Model.all, :id, :name, {include_blank: true },  class: "form-control input-sm"  %>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="form-group">
          <%= f.label :section_id %>
          <%= f.collection_select :section_id_eq, Section.all, :id, :name, {include_blank: true} , class: "form-control input-sm"%>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="form-group">
          <%= f.label :project_id %>
          <%= f.collection_select :project_id_eq, Dept.projects, :id, :name, {include_blank: true }, class: "form-control input-sm"%>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-sm-12">
        <%= f.label :preferred_date %>
        <div class="form-inline">
          <%= f.date_select :preferred_date_gteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control input-sm"%>〜
          <%= f.date_select :preferred_date_lteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control input-sm" %>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <%= f.submit '検索', class: "btn btn-primary" %>
        <%= link_to 'クリア', url_for, class: "btn btn-default" %>
      </div>
    </div>
  <% end %>

</div>

<table class="table">
  <thead>
    <tr>
      <th>Management no</th>
      <th>Project</th>
      <th>E!</th>
      <th>Filename</th>
      <th>Request date</th>
      <th>Preferred date</th>
      <th>Close</th>
      <th>|</th>
         <% @flow_orders.each do |flow_order| %>
        <th>
          <%= flow_order.dept.try(:name).presence || "プロジェクト" %>
        </th>
         <% end %>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @request_applications.each do |request_application| %>
    <% current_order = request_application.current_order %>
      <tr>
        <td><%= request_application.management_no %></td>
        <td><%= request_application.project.try(:name) %></td>
        <td><%= "緊急" if request_application.emargency %></td>
        <td><%= (link_to "Download" , request_application.filename_url) if request_application.filename_url.present? %></td>
        <td><%= request_application.request_date %></td>
        <td><%= request_application.preferred_date %></td>
        <td><%= request_application.close_status %></td>
        <td>|</td>
        <% request_application.flows.latest_flows(Flow.latest_ids(request_application.id)).each do |flow| %>
        <td>
          <%= ( flow.progress.try(:in_date) || (link_to 'Start', regist_progress_path(request_application) unless request_application.close?
 )) %><br>
          <%= ( flow.progress.try(:out_date) || (link_to 'End', regist_progress_path(request_application) unless (flow.progress.try(:in_date).blank?  ||  request_application.close?  || current_order != flow.order) ) ) %> 
        </td>
         <% end %>
         <% (@flow_orders.count - request_application.flows.maximum(:order)).times do %>
          <td></td>
         <% end %>
        <td><%= link_to 'Show', request_application %>
        <%= (link_to 'Edit', edit_request_application_path(request_application)) unless request_application.close? %>
        <%= (link_to 'Destroy', request_application, method: :delete, data: { confirm: 'Are you sure?' })  if request_application.delete_permit? %>
      </td>
        <td><%= link_to "差戻" , reject_progress_path(request_application) if request_application.flows.order(:history_no).last.reject? %></td>
        <td><%= link_to "最初に差戻" , revert_progress_path(request_application) if request_application.flows.order(:history_no).last.first_to_revert? %></td>
        <td><%= link_to "中断" , interrupt_progress_path(request_application)  if request_application.interrupt_permit? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request application', new_request_application_path %>
